@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
  @apply text-gray-700;
}

.concert {
  font-family: "Concert One", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .w-640 {
    width: 800px;
  }

  .w-1024 {
    width: 1150px;
  }

  .w-1280 {
    width: 1300px;
  }
}
